.to-do-screen_map {
    width: 100%;
    margin-bottom: 60px;
    padding: 0 60px;
}

.to-do-screen_map img {
    width: 100%;
}

.box-content-button {
    max-width: 148px;
}

@media all and (max-width: 800px) {
    .to-do-screen_map {
        padding: 0 10px;
    }
}
