.main-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../common/images/bg-dark.jpg");
}

.main-screen_text {
    text-align: center;
    font-size: 72px;
    color: #fff;
}

.info-screen_names {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px 0;
    border-bottom: 1px solid #cfcfcf;
}

.info-screen_names_name {
    font-size: 42px;
}

.info-screen_names_separator {
    font-size: 16px;
    letter-spacing: 3px;
}

.info-screen_names_name, .info-screen_names_separator {
    margin: 0 20px;
    letter-spacing: 1px;
}

.info-screen_summary {
    padding: 100px 0;
}

.info-screen_summary_date {
    margin-bottom: 28px;
    font-size: 42px;
    letter-spacing: 1px;
}

.info-screen_summary_place {
    font-size: 16px;
    letter-spacing: 3px;
}

.photo-screen {
    background-image: url("../common/images/bg-dark.jpg");
}

@media all and (max-width: 800px) {
    .main-screen_text {
        text-align: center;
        font-size: 28px;
        color: #fff;
    }

    .info-screen_names {
        flex-direction: column;
        padding: 40px 0;
    }

    .info-screen_names_name, .info-screen_names_separator {
        margin: 10px 0;
        letter-spacing: 1px;
    }
}
