.rsvp-screen {
    padding-left: 10px;
    padding-right: 10px;
}

.rsvp-screen_text {
    max-width: 672px;
    width: 100%;
    margin: 0 auto 30px;
    font-size: 19px;
    line-height: 26px;
    text-align: center;
}

.rsvp-screen_text:first-child {
    margin-bottom: 80px;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

input {
    width: 100%;
    height: 40px;
    margin-right: 40px;
    padding: 8px 12px;
}

.button-submit {
    height: 40px;
    padding: 8px;
    border: none;
    background-color: #d9d9d9;
    color: #505050;
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2.3px;
}

@media all and (max-width: 800px) {
    form {
        flex-direction: column;
    }

    input {
        margin: 0 0 20px;
    }
}
