<div class="faq-screen box-screen screen">
    <div class="box">
        <div class="box-header">
            <div class="box-title">FAQs</div>
            <p>
                Please check back closer to the date of the wedding for the most updated information.
                If you have any questions outside of what we have listed here please do not hesitate to reach out to us!
            </p>
        </div>
        <div class="box-sections">
            <div class="box-section">
                <div class="faq">
                    <div class="faq_title secondary-font">QUESTION</div>
                    <div class="faq_question">What's with the invites you sent out?</div>
                </div>
            </div>
            <div class="box-section">
                <div class="faq">
                    <div class="faq_title secondary-font">ANSWER</div>
                    <div class="faq_answer">
                        When you RSVP you will see who is included under your party. There are capacity limitations
                        at the venue that we need to abide by and we want to encourage an intimate environment for the event.
                    </div>
                </div>
            </div>
            <div class="box-section">
                <div class="faq">
                    <div class="faq_title secondary-font">QUESTION</div>
                    <div class="faq_question">What's with the invites you sent out?</div>
                </div>
            </div>
            <div class="box-section">
                <div class="faq">
                    <div class="faq_title secondary-font">ANSWER</div>
                    <div class="faq_answer">
                        When you RSVP you will see who is included under your party. There are capacity limitations
                        at the venue that we need to abide by and we want to encourage an intimate environment for the event.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
