<div class="faq-screen box-screen screen">
  <div class="box">
    <div class="box-header">
      <div class="box-title">
        FAQs
      </div>
      <p>Please check back closer to the date of the wedding for the most updated information. If you have any questions outside of what we have listed here please do not hesitate to reach out to us!</p>
    </div>

    <div class="box-sections">
      <div class="box-section">
        <div class="faq">
          <div class="faq_title secondary-font">
            QUESTION
          </div>
          <div class="faq_question">
            How do I RSVP?
          </div>
        </div>
      </div>
      <div class="box-section">
        <div class="faq">
          <div class="faq_title secondary-font">
            ANSWER
          </div>
          <div class="faq_answer">
            Our invitations were sent via email only. Please click the link in the email to RSVP. If something isn't right, please reach out!
          </div>
        </div>
      </div>

    <div class="box-sections">
      <div class="box-section">
        <div class="faq">
          <div class="faq_title secondary-font">
            QUESTION
          </div>
          <div class="faq_question">
            When should I RSVP by?
          </div>
        </div>
      </div>
      <div class="box-section">
        <div class="faq">
          <div class="faq_title secondary-font">
            ANSWER
          </div>
          <div class="faq_answer">
            We ask that you RSVP by July 31st 2023.
          </div>
        </div>
      </div>

      <div class="box-section">
        <div class="faq">
          <div class="faq_title secondary-font">
            QUESTION
          </div>
          <div class="faq_question">
            Am I able to bring a guest?
          </div>
        </div>
      </div>
      <div class="box-section">
        <div class="faq">
          <div class="faq_title secondary-font">
            ANSWER
          </div>
          <div class="faq_answer">
            When you RSVP you will see who is included under your party.
            <br />
            Any options, such as dietary restrictions or +1s, can be provided there.
          </div>
        </div>
      </div>

      <div class="box-section">
        <div class="faq">
          <div class="faq_title secondary-font">
            QUESTION
          </div>
          <div class="faq_question">
            When should I arrive?
          </div>
        </div>
      </div>
      <div class="box-section">
        <div class="faq">
          <div class="faq_title secondary-font">
            ANSWER
          </div>
          <div class="faq_answer">
            We recommend arriving at least 24 hours before the wedding to get settled. Please keep in mind that Mexico is celebrating the day of the dead on November 2nd and it might be great to experience it.
          </div>
        </div>
      </div>

      <div class="box-section">
        <div class="faq">
          <div class="faq_title secondary-font">
            QUESTION
          </div>
          <div class="faq_question">
            Where should I stay?
          </div>
        </div>
      </div>
      <div class="box-section">
        <div class="faq">
          <div class="faq_title secondary-font">
            ANSWER
          </div>
          <div class="faq_answer">
            We recommend looking for hotels within "Zona Romantica" (Romantic Zone) or around Zona Centro. These are walkable areas near most of the city's attractions.
          </div>
        </div>
      </div>

      <div class="box-section">
        <div class="faq">
          <div class="faq_title secondary-font">
            QUESTION
          </div>
          <div class="faq_question">
            Should I buy a SIM card?
          </div>
        </div>
      </div>
      <div class="box-section">
        <div class="faq">
          <div class="faq_title secondary-font">
            ANSWER
          </div>
          <div class="faq_answer">
            We recommend purchasing a sim card once you arrive in Mexico. You can get a chip with plan "Amigo SL200" for 200 pesos with 3gbs of data and unlimited calling. These chips can be bought in OXXOs (a popular convenience store in Mexico). If not you can contact your provider to ask about long distance/roaming options.
          </div>
        </div>
      </div>

      <div class="box-section">
        <div class="faq">
          <div class="faq_title secondary-font">
            QUESTION
          </div>
          <div class="faq_question">
            Should I rent a car?
          </div>
        </div>
      </div>
      <div class="box-section">
        <div class="faq">
          <div class="faq_title secondary-font">
            ANSWER
          </div>
          <div class="faq_answer">
            We recommend taking taxis, ride share, or walking around the city.
          </div>
        </div>
      </div>

      <div class="box-section">
        <div class="faq">
          <div class="faq_title secondary-font">
            QUESTION
          </div>
          <div class="faq_question">
            Is there parking available at the venue?
          </div>
        </div>
      </div>
      <div class="box-section">
        <div class="faq">
          <div class="faq_title secondary-font">
            ANSWER
          </div>
          <div class="faq_answer">
            Yes, there is limited parking at the venue. But PLEASE DO NOT DRINK AND DRIVE.
          </div>
        </div>
      </div>

      <div class="box-section">
        <div class="faq">
          <div class="faq_title secondary-font">
            QUESTION
          </div>
          <div class="faq_question">
            What will the weather be like?
          </div>
        </div>
      </div>
      <div class="box-section">
        <div class="faq">
          <div class="faq_title secondary-font">
            ANSWER
          </div>
          <div class="faq_answer">
            The weather can be relatively hot during the day (20-30&deg;C) and cooler in the evening (18-20&deg;C). We recommend light and breathable fabrics. We will be holding the ceremony outdoors (weather permitting).
          </div>
        </div>
      </div>

      <div class="box-section">
        <div class="faq">
          <div class="faq_title secondary-font">
            QUESTION
          </div>
          <div class="faq_question">
            Do you have a gift registry?
          </div>
        </div>
      </div>
      <div class="box-section">
        <div class="faq">
          <div class="faq_title secondary-font">
            ANSWER
          </div>
          <div class="faq_answer">
            Your presence on our special day is the greatest gift we could ask for. We appreciate the effort involved in joining us for our wedding, so please, no gifts!
          </div>
        </div>
      </div>










    </div>
  </div>
</div>
