<div class="main-screen image-screen screen">
  <div class="main-screen_text">
    Celebrate With Us
  </div>
</div>
<div class="info-screen box-screen screen">
  <div class="box">

    <div class="info-screen info-screen_names">
      <div class="info-screen_names_name">
        Gabriela<br />
        Hernandez<br />
        Maltos
      </div>
      <div class="info-screen_names_separator secondary-font">
        AND
      </div>
      <div class="info-screen_names_name">
        Sergio<br />
        Martins
      </div>
    </div>

    <div class="info-screen info-screen_summary">
      <div class="info-screen_title">
        November 3, 2023
      </div>
      <div class="info-screen_summary_place secondary-font">
        <a href="https://www.google.com/maps/place/Tulipanes+595,+Agua+Azul,+48340+Puerto+Vallarta,+Jal.,+Mexico/@20.6159864,-105.2251155,17z/data=!3m1!4b1!4m6!3m5!1s0x84214559006f5ab1:0xda3a4402ab603d0d!8m2!3d20.6159864!4d-105.2225406!16s%2Fg%2F11c27ch08b?hl=en" target="_blank">Tulipanes 595, Agua Azul, 48340 Puerto Vallarta, Jalisco, Mexico</a>
      </div>
    </div>

    <div class="info-screen">
      <div class="info-screen_title">
        Hola!
      </div>
      <div class="box-content-item">
        Welcome to our wedding website – we&#39;re so glad you&#39;re here.
      </div>
      <div class="box-content-item">
        We&#39;ve created this website as a helpful resource for our upcoming wedding in Puerto Vallarta, Mexico.
      </div>
      <div class="box-content-item">
        Here, you’ll find our schedule of events, travel information and answers to <a href="/faqs">Frequently Asked Questions</a>.
      </div>
      <div class="box-content-item">
        We’d love for you to take a look around and learn more about our destination wedding plans.
      </div>
      <div class="box-content-item">
        Finally, thank you for all of your love and support so far. We can’t wait to share the adventure of a lifetime with our favourite group of people!
      </div>
      <div class="box-content-item" style="margin-bottom: 0;">
        Love, Gaby and Sergio
      </div>
    </div>




    <img src="../img/prop1.jpg" width="100%" />

  </div>
</div>
