<div class="main-screen image-screen screen">
  <div class="main-screen_text">
    Celebrate With Us
    <br />
    <span style="font-size: 65px;">
      Nov 3, 2023
    </span>
  </div>
</div>
<div class="box-screen screen">
  <div class="box">

    <div class="info-screen info-screen_names" style="display: inline-grid; grid-template-columns: 4fr 1fr 4fr">
      <div class="info-screen_names_name" style="justify-self: right;">
        Gabriela<br />
        Hernandez Maltos
      </div>
      <div class="info-screen_names_separator secondary-font">
        AND
      </div>
      <div class="info-screen_names_name" style="justify-self: left; padding-left: 30px">
        Sergio<br />
        Martins
      </div>
    </div>

    <img src="../img/prop1.jpg" width="100%" />

  </div>
</div>
