<div class="main-screen image-screen screen">
    <div class="main-screen_text">Celebrate With Us</div>
</div>
<div class="info-screen box-screen screen">
    <div class="box">
        <div class="info-screen_names">
            <div class="info-screen_names_name">
                Francesca<br/>
                Bertolini
            </div>
            <div class="info-screen_names_separator secondary-font">
                AND
            </div>
            <div class="info-screen_names_name">
                Adam<br/>
                Carnevale
            </div>
        </div>
        <div class="info-screen_summary">
            <div class="info-screen_summary_date">
                August 31, 2023
            </div>
            <div class="info-screen_summary_place secondary-font">
                VILLA VERITA FRACCAROLI, LAVANGO, ITALY
            </div>
        </div>
    </div>
</div>
<div class="photo-screen image-screen screen"></div>
