<div class="main-screen image-screen screen">
    <div class="main-screen_text">Celebrate With Us</div>
</div>
<div class="info-screen box-screen screen">
    <div class="box">
        <div class="info-screen_names">
            <div class="info-screen_names_name">
                Gabriela<br />
                Hernandez<br />
                Maltos
            </div>
            <div class="info-screen_names_separator secondary-font">
                AND
            </div>
            <div class="info-screen_names_name">
                Sergio<br/>
                Martins
            </div>
        </div>
        <div class="info-screen_summary">
            <div class="info-screen_summary_date">
                November 4, 2023
            </div>
            <div class="info-screen_summary_place secondary-font">
                <a href="https://www.google.com/maps?hl=en&q=Puerto+Vallarta" target="_new">
                Venue TBD, Puerto Vallarta, Mexico
            </a>
            </div>
        </div>
    </div>
</div>
<div class="photo-screen image-screen screen"></div>
