<div class="rsvp-screen box-screen screen">
    <div class="box-title">RSVP</div>
    <div class="rsvp-screen_text">
        Please let us know if you plan to attend by March 1st 2023. Reach out to us with any questions!
    </div>
    <div class="rsvp-screen_text">
        Please enter the first and last name of one member of your party below.
        If you're responding for you and a guest (or your family),
        you'll be able to RSVP for your entire group on the next page.
    </div>
    <form method="post" action="https://example.com">
        <input
            type="text"
            placeholder="Ex. Sarah Fortune (not The Fortune Family or Dr. & Mr. Fortune)"
            required
        />
        <button class="button-submit">continue</button>
    </form>
</div>
