<div class="schedule-screen box-screen screen">
    <div class="box">
        <div class="box-header">
            <div class="box-title">Wedding Schedule</div>
            <img src="../img/place.jpg" alt="place" />
            <p>
                Here's what to expect for the day of the wedding.
                We can't wait to celebrate with you! Check back closer
                to the date - more information to follow!
            </p>
        </div>
        <div class="box-sections">
            <div class="box-section">
                <div class="box-content-title">Ceremony and Reception</div>
                <div class="box-content-item secondary-font schedule-screen_date">
                    Saturday, November 4, 2023
                </div>
                <div class="box-content-item secondary-font schedule-screen_date">
                    4:00 PM - 1:00 AM
                </div>
            </div>
            <div class="box-section">
                <div class="box-content-icon">
                    <img src="../img/taxi.png" alt="Taxi" />
                </div>
                <div class="box-content-title">Venice Marco Polo (VCE)</div>
                <div class="box-content-item">
                    Villa Fraccaroli<br />
                    Via Boschetto 6<br />
                    Lavagno, Veneto 37030<br />
                    Italy
                </div>
                <div class="box-content-item">
                    Semi-Formal but keep in mind that it may be hot during the day and colder in the evening.
                    We recommend breathable fabrics. The grass can be soft so skip the stilettos.
                </div>
                <div class="box-content-item">
                    After the ceremony, there will be aperitifs and cocktails.
                    A seated dinner will be served around 7 pm.
                    Feel free to ask for a second helping for any of the dishes!
                </div>
                <button class="box-content-button button">MAP</button>
                <button class="box-content-button button">Add to Calendar</button>
            </div>
        </div>
    </div>
</div>
