<div class="schedule-screen box-screen screen">
  <div class="box">
    <div class="box-header">
      <div class="box-title">
        Wedding Schedule
      </div>
      <p>Here's what to expect for the day of the wedding. We can't wait to celebrate with you! Check back closer to the date - more information to follow!</p>
    </div>
    <div class="box-sections">
      <div class="box-section">
        <div class="box-content-title">
          Ceremony and Reception
        </div>
        <div class="box-content-item secondary-font schedule-screen_date">
          Friday, November 3, 2023
        </div>
        <div class="box-content-item secondary-font schedule-screen_date">
          5:30 PM - 1:30 AM
        </div>
        <div class="box-content-icon">
            <img src="../icon/hearts.png" alt="hearts" />
        </div>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          Our Venue: Terraz
        </div>
        <div class="box-content-item">
          Tulipanes 595,<br />
          Agua Azul,<br />
          48340 Puerto Vallarta,<br />
          Jalisco, Mexico
        </div>
        <div class="box-content-item">
          Semi-Formal but keep in mind that it may be hot during the day and colder in the evening. We recommend breathable fabrics.
        </div>
        <div class="box-content-item">
          After the ceremony there will be cocktails. A seated dinner will be served around 7:30 pm.
        </div>
        <a href="https://www.google.com/maps/place/Tulipanes+595,+Agua+Azul,+48340+Puerto+Vallarta,+Jal.,+Mexico/@20.6163923,-105.2321723,14.96z/data=!4m6!3m5!1s0x84214559006f5ab1:0xda3a4402ab603d0d!8m2!3d20.6159864!4d-105.2225406!16s%2Fg%2F11c27ch08b?hl=en" target="_blank" class="box-content-button button">
          View
        </a>
        <!-- <a href="#" target="_blank" class="box-content-button button">
          Add to Calendar
        </a> -->
      </div>
    </div>
  </div>
</div>
