<div class="to-do-screen box-screen screen">
    <div class="box">
        <div class="box-header">
            <div class="box-title">Things to do</div>
            <p>
                We're so excited to share with you some of our favourite things to do in the area!
                Please see the FAQs for more tips/recommendations.
            </p>
        </div>
        <div class="to-do-screen_map">
            <img src="../img/wedding-maps.png" alt="map" />
        </div>
        <div class="box-sections">
            <div class="box-section">
                <div class="box-content-title">Juliet’s House</div>
                <div class="box-content-item">
                    23 Via Cappello<br />
                    Verona, Veneto 37121<br />
                    Italy
                </div>
                <div class="box-content-item">+39 045 803 4303</div>
                <div class="box-content-item">
                    Live out your Romeo and Juliet dreams by visiting
                    the famous Casa di Giulietta!
                </div>
                <a href="#" class="box-content-button button">View</a>
            </div>
            <div class="box-section">
                <div class="box-content-title">Juliet’s House</div>
                <div class="box-content-item">
                    23 Via Cappello<br />
                    Verona, Veneto 37121<br />
                    Italy
                </div>
                <div class="box-content-item">+39 045 803 4303</div>
                <div class="box-content-item">
                    Live out your Romeo and Juliet dreams by visiting
                    the famous Casa di Giulietta!
                </div>
                <a href="#" class="box-content-button button">View</a>
            </div>
            <div class="box-section">
                <div class="box-content-title">Juliet’s House</div>
                <div class="box-content-item">
                    23 Via Cappello<br />
                    Verona, Veneto 37121<br />
                    Italy
                </div>
                <div class="box-content-item">+39 045 803 4303</div>
                <div class="box-content-item">
                    Live out your Romeo and Juliet dreams by visiting
                    the famous Casa di Giulietta!
                </div>
                <a href="#" class="box-content-button button">View</a>
            </div>
            <div class="box-section">
                <div class="box-content-title">Parma</div>
                <div class="box-content-item">
                    Parma, Emilia-Romagna<br />
                    Italy
                </div>
                <div class="box-content-item">+39 045 803 4303</div>
                <div class="box-content-item">
                    Live out your Romeo and Juliet dreams by visiting
                    the famous Casa di Giulietta!
                </div>
                <a href="#" class="box-content-button button">View</a>
            </div>
            <div class="box-section">
                <div class="box-content-title">Milan</div>
                <div class="box-content-item">
                    Milan, Lombardy<br />
                    Italy
                </div>
                <div class="box-content-item">+39 045 803 4303</div>
                <div class="box-content-item">
                    Live out your Romeo and Juliet dreams by visiting
                    the famous Casa di Giulietta!
                </div>
                <a href="#" class="box-content-button button">View</a>
            </div>
        </div>
    </div>
</div>
