<div class="to-do-screen box-screen screen">
  <div class="box">
    <div class="box-header">
      <div class="box-title">
        Things to do
      </div>
      <p>We're so excited to share with you some of our favourite things to do in the area! Please see <a class="nav" href="/faqs">the FAQs</a> for more tips/recommendations.</p>
    </div>
    <div class="to-do-screen_map"></div>
    <div class="box-sections">
      <div class="box-section">
        <div class="box-content-title">
          Walk…Everywhere!
        </div>
        <div class="box-content-item">
          Exploring on foot is the best way to get a feel for the city, and most areas of Puerto Vallarta are reachable by walking.
        </div>
        <div class="box-content-item">
          This is a great way to see what the vendors are selling, to people watch, and get a lay of the land. You never know what you’ll stumble upon when discovering the city on foot — just make sure to wear good shoes as the sidewalks and roads are uneven.
        </div>
        <a href="#" class="box-content-button button">View</a>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          Wander The Old Town
        </div>
        <div class="box-content-item">
          Puerto Vallarta has a beautiful old town with cobbled streets and colourful homes climbing up the hill. From near the Church of Our Lady of Guadalupe, you’ll see rock/cement steps heading up the hill.
        </div>
        <div class="box-content-item">
          Take the steps and continue walking along the back roads toward the Romantic Zone. As most people take the Malecon or the main streets, you’ll have the quiet “upper” roads basically to yourself.
        </div>
        <div class="box-content-item">
          You’ll come across homes draped in vines, cats sleeping on steps and pretty wrought-iron balconies. After you’ve finished exploring and enjoying the peace and quiet, you can come out near the Rio River.
        </div>
        <a href="#" class="box-content-button button">View</a>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          Walking Tour
        </div>
        <div class="box-content-item">
          A free walking tour around Puerto Vallarta is the perfect activity to learn about and explore the city! This walking tour meets at the Municipal Tourism Office downtown and runs twice a day at 9 am and 12 pm on Tuesdays and Wednesdays, and then again at 9 am on Saturdays.
        </div>
        <div class="box-content-item">
          It takes about two hours and you’ll be led by a certified guide through the historic downtown area. It’s the perfect way to learn more about the culture and history, including some great insider secrets about the city! It’s free to join and no registration is necessary.
        </div>
        <a href="#" class="box-content-button button">View</a>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          Walk The Malecon
        </div>
        <div class="box-content-item">
          One of the many great things about Puerto Vallarta is the long Malecon (oceanfront promenade) which runs for about 1.5 kilometers (1 mile). This is the perfect spot to enjoy a stroll, without having to deal with the busy traffic that whizzes along the narrow streets.
        </div>
        <div class="box-content-item">
          Along the Malecon, you have the beautiful ocean on one side, and many shops, restaurants, and bars on the other. There are also numerous art installations and street performances here.
        </div>
        <div class="box-content-item">
          The Malecon is the hot spot, especially in the late afternoon and evenings when it’s a cooler temperature. And actually, wandering along the Malecon is one of the most popular things to do in La Paz as well.
        </div>
        <a href="#" class="box-content-button button">View</a>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          Day of the Death - November 2nd
        </div>
        <div class="box-content-item">
          Dia de los Muertos is a Mexican holiday, which translates to "Day of the Dead", that is celebrated in Mexico to remember those who have died.
        </div>
        <div class="box-content-item">
          While Dia de los Muertos is often confused with Halloween, the day is actually different as Halloween creates fear of the death while the Mexican holiday celebrates those who have passed on and are excited about their return.
        </div>
        <div class="box-content-item">
          Dia de los Muertos can be experience throughout Puerto Vallarta with altars and street parties organized each year that invites locals and tourists to come together and enjoy part of the Mexican culture. In the days leading up to the Puerto Vallarta Day of the Dead celebration, giant catrina statues are set up along the Malecon boardwalk, each with its own unique style and dress.
        </div>
        <a href="#" class="box-content-button button">View</a>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          See Rhythms Of The Night
        </div>
        <div class="box-content-item">
          If you’re looking for a mini Cirque de Soleil-type cultural show and dinner experience, then Rhythms of The Night will be something you won’t want to miss.
        </div>
        <div class="box-content-item">
          The evening starts with a sunset cruise (including an open bar) across Banderas Bay to Las Caletas, which is a beautiful private cove. When you arrive, you’ll be greeted by a beautifully lit area with tiki torches and candles.
        </div>
        <div class="box-content-item">
          The show depicts various stories of the ancient Hispanic civilization and Mexican folklore. During the performance, there’s live music, dancing, contortionists, fire twirlers, and more.
        </div>
        <div class="box-content-item">
          Following the show, you’ll enjoy a large buffet dinner before returning to Puerto Vallarta by boat.
        </div>
        <a href="#" class="box-content-button button">View</a>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          Mirador Cerro de La Cruz
        </div>
        <div class="box-content-item">
          For an amazing view, you can hike up to the Mirador Cerro de La Cruz. It takes about 30 minutes and is a bit strenuous, but the view is spectacular. Bring lots of water and wear good shoes.
        </div>
        <a href="#" class="box-content-button button">View</a>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          Visit Marietas Island
        </div>
        <div class="box-content-item">
          A limited number of people per day are allowed to visit this gorgeous site — make sure you book online ahead of time.
          <div class="box-content-item"></div>Located about a 1-hour boat ride from the Puerto Vallarta marina, you’ll find the Marietas hidden beach. Not only is the snorkelling and the beach itself gorgeous, but on the boat ride out there you’ll most likely spot dolphins, manta rays, and whales.
        </div>
        <a href="#" class="box-content-button button">View</a>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          Check Out The Markets
        </div>
        <div class="box-content-item">
          Visiting the markets in Mexico is always a treat. In Puerto Vallarta, you’ll find food, fish, clothing, and souvenir markets.
          <div class="box-content-item"></div>Don’t miss the Municipal Market of Colonia Emiliano Zapata, which is a great place to purchase fresh produce. This market runs from 6:00am to 3:00pm, 365 days a year. Click here for directions
        </div>
        <a href="#" class="box-content-button button">View</a>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          Go Scuba Diving
        </div>
        <div class="box-content-item">
          You can expect to see turtles, rays, eels, and more. Always do your own independent research when choosing a scuba diving company. Check reviews, safety, and certifications, and even stop by the dive center to get a feel for the place before committing. You can click here to search for more PADI-certified dive shops in Puerto Vallarta.
        </div>
        <a href="#" class="box-content-button button">View</a>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          Parroquia de Nuestra Señora de Guadalupe
        </div>
        <div class="box-content-item">
          Puerto Vallarta’s Our Lady of Guadalupe Parish (Parroquia de Nuestra Señora de Guadalupe) is a gorgeous cathedral that dominates the skyline of the city – truly postcard perfect It was built back in 1903 and has been an important part of the cultural and spiritual life of the city.
          <div class="box-content-item"></div>The church is located in the downtown historical area, and you’ll be able to see it from anywhere in the city. You are welcome to go inside and check it out if you’re interested, or just enjoy looking at the beautiful architecture and taking some pictures from the surrounding streets.
        </div>
        <a href="#" class="box-content-button button">View</a>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          Botanical Gardens
        </div>
        <div class="box-content-item">
          The Sierra Madre mountain range has a generous diversity and tropical forests that make Puerto Vallarta an enchanting place way beyond its beaches.
        </div>
        <a href="#" class="box-content-button button">View</a>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          Day trip to Tequila
        </div>
        <div class="box-content-item">
          Did you know that the spirit “tequila” was actually named after the town where it was first created? That’s right, there is a town in Mexico called “Tequila” (with a capital -T) that is the birthplace of tequila (the alcoholic drink!)
        </div>
        <div class="box-content-item">
          And what’s better, the town of Tequila is located only about a 3.5-hour drive from Puerto Vallarta!
        </div>
        <a href="#" class="box-content-button button">View</a>
      </div>
    </div>
  </div>
</div>
