<div class="to-do-screen box-screen screen">
  <div class="box">
    <div class="box-header">
      <div class="box-title">
        Things to do
      </div>
      <p>We're so excited to share with you some of our favourite things to do in the area! Please see <a class="nav" href="/faqs">the FAQs</a> for more tips/recommendations.</p>
    </div>
    <div class="to-do-screen_map"></div>
    <div class="box-sections">
      <div class="box-section">
        <div class="box-content-title">
          Walk…Everywhere!
        </div>
        <div class="box-content-item">
          Exploring on foot is the best way to get a feel for the city, and most areas of PV are reachable by walking.
        </div>
        <div class="box-content-item">
          This is a great way to see what the vendors are selling, to people watch, and get a lay of the land. You never know what you'll stumble upon when discovering the city on foot — just make sure to wear good shoes as the sidewalks and roads are uneven.
        </div>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          Wander The Old Town
        </div>
        <div class="box-content-item">
          Experience the charm of Puerto Vallarta's old town by taking a peaceful walk up the hill from the Church of Our Lady of Guadalupe. Enjoy the tranquility of the "upper" roads, away from the crowds, and emerge near the River when you're ready to head back.
        </div>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          Walking Tour
        </div>
        <div class="box-content-item">
          The free walking tour around Puerto Vallarta is the perfect activity to explore the city! You'll be led by a certified guide through the historic downtown area.
        </div>
        <a href="https://visit-vallarta.com/adventures/tours/free-walking-tours/" target="_blank" class="box-content-button button">View</a>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          Walk The Malecón
        </div>
        <div class="box-content-item">
          Enjoy a leisurely walk without the hassle of busy traffic on Puerto Vallarta's 1.5 km long Malecón oceanfront promenade. Take in the beautiful ocean views and savor a relaxing stroll.
        </div>
        <a href="https://www.google.com/maps/place/Malec%C3%B3n+Puerto+Vallarta/@20.6072247,-105.2397676,17z/data=!3m1!4b1!4m6!3m5!1s0x842145495918d1a3:0x72601f2cc85e8f1c!8m2!3d20.6072247!4d-105.2371927!16s%2Fg%2F11c143g116?hl=en" target="_blank" class="box-content-button button">View</a>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          Day of the Death - November 2nd
        </div>
        <div class="box-content-item">
          Celebrate the Mexican holiday of Dia de los Muertos, which honors those who have passed away, during your visit to Puerto Vallarta. Unlike Halloween, this holiday is a joyful occasion that welcomes the return of loved ones.
        </div>
        <div class="box-content-item">
          Immerse yourself in the local culture and experience the Puerto Vallarta Day of the Dead celebrations, including street parties and altars throughout the city. Don't miss the giant catrina statues set up along the Malecón boardwalk in the days leading up to the festivities.
        </div>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          See Rhythms Of The Night
        </div>
        <div class="box-content-item">
          Don't miss the Rhythms of The Night show and dinner experience in Puerto Vallarta. Start the evening with a sunset cruise across Banderas Bay to Las Caletas, a stunning private cove.
        </div>
        <div class="box-content-item">
          Enjoy a cultural performance featuring live music, dancing, contortionists, fire twirlers, and more. Afterward, savor a delicious buffet dinner before returning to Puerto Vallarta by boat.
        </div>
        <a href="https://www.vallarta-adventures.com/en?gclid=CjwKCAjwuqiiBhBtEiwATgvixCjEOhT5PNKF71eeIZTjgisTO1W77ZsbM0YVrqnCaqUXJpcaIFGTYxoCj8IQAvD_BwE" target="_blank" class="box-content-button button">View</a>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          Lookout Cerro de La Cruz
        </div>
        <div class="box-content-item">
          For an amazing view, you can hike up to the Mirador Cerro de La Cruz. It takes about 30 minutes and is a bit strenuous, but the view is spectacular. Bring lots of water and wear good shoes.
        </div>
        <a href="https://goo.gl/maps/iVaJxsQAmTVbAikW9" target="_blank" class="box-content-button button">View</a>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          Visit Marietas Island
        </div>
        <div class="box-content-item">
          A limited number of people per day are allowed to visit this gorgeous site — make sure you book online ahead of time.
        </div>
        <div class="box-content-item">
          Located about a 1-hour boat ride from the Puerto Vallarta marina, you'll find the Marietas hidden beach. Not only is the snorkelling and the beach itself gorgeous, but on the boat ride out there you may spot dolphins, manta rays, or whales.
        </div>
        <a href="https://goo.gl/maps/FjX2ywQ4Rcsh8BiG6" target="_blank" class="box-content-button button">View</a>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          Check Out The Markets
        </div>
        <div class="box-content-item">
          At the many markets in Puerto Vallarta you'll find food, clothing, souvenirs, and more.
          The Colonia Emiliano Zapata market is located in Zona Romántica and is open everyday.
        </div>
        <a href="https://goo.gl/maps/bbzpgdH2EY6hLugo7" target="_blank" class="box-content-button button">View</a>
      </div>
      <div class="box-section">
        <div class="box-content-title">
          Go Scuba Diving
        </div>
        <div class="box-content-item">
          You can expect to see turtles, rays, eels, and more. Always do your own independent research when choosing a scuba diving company. Check reviews, safety, and certifications, and even stop by the dive center to get a feel for the place before committing.
        </div>
      </div>

      <div class="box-section">
        <div class="box-content-title">
          Church Nuestra Señora de Guadalupe
        </div>
        <div class="box-content-item">
          Puerto Vallarta's Our Lady of Guadalupe Parish (Parroquia de Nuestra Señora de Guadalupe) is a gorgeous cathedral that dominates the skyline of the city – truly postcard perfect It was built back in 1903 and has been an important part of the cultural and spiritual life of the city.
        </div>
        <a href="https://goo.gl/maps/2zZKaPYHNBcMtCM19" target="_blank" class="box-content-button button">View</a>
      </div>

      <div class="box-section">
        <div class="box-content-title">
          Botanical Gardens
        </div>
        <div class="box-content-item">
          The Sierra Madre mountain range has a generous diversity and tropical forests that make Puerto Vallarta an enchanting place way beyond its beaches.
        </div>
        <a href="https://www.vbgardens.org/" target="_blank" class="box-content-button button">View</a>
      </div>

      <div class="box-section">
        <div class="box-content-title">
          Day trip to Tequila
        </div>
        <div class="box-content-item">
          Did you know that the spirit “tequila” was actually named after the town where it was first created? That's right, there is a town in Mexico called “Tequila” (with a capital -T) that is the birthplace of tequila (the alcoholic drink!)
        </div>
        <div class="box-content-item">
          And what's better, the town of Tequila is located only about a 3.5-hour drive from Puerto Vallarta!
        </div>
        <a href="https://goo.gl/maps/kaTGYK6hspviBSDFA" target="_blank" class="box-content-button button">View</a>
      </div>
    </div>
  </div>
</div>
