<div class="travel-screen box-screen screen">
  <div class="box">


    <div class="box-header">
      <div class="box-title">
        Travel
      </div>
      <p>Your flight & hotel will be <strong>booked separately</strong>.</p>
    </div>
    <div class="box-sections">
      <div class="box-section">
        <div class="box-content-icon"><img src="../icon/airplane.png" alt="Taxi" /></div>
        <div class="box-content-title">
          Puerto Vallarta International Airport (PVR)
        </div>
        <div class="box-content-item secondary-font travel-screen_type">
          FLIGHT
        </div>
        <div class="box-content-item">
          The city's airport is named Licenciado Gustavo Díaz Ordaz International Airport (PVR). This is the best way to visit Puerto Vallarta.
        </div><a href="https://www.google.com/maps/place/Licenciado+Gustavo+D%C3%ADaz+Ordaz+International+Airport/@20.6621904,-105.2753222,13z/data=!4m15!1m8!3m7!1s0x842145dadea3360d:0x98f5837a45fe96c!2sLicenciado+Gustavo+D%C3%ADaz+Ordaz+International+Airport!8m2!3d20.6805184!4d-105.2523762!10e1!16zL20vMDZxc3Jr!3m5!1s0x842145dadea3360d:0x98f5837a45fe96c!8m2!3d20.6805184!4d-105.2523762!16zL20vMDZxc3Jr?hl=en" target="_new" class="box-content-button button">View</a>
      </div>
      <div class="box-section">
        <div class="box-content-icon"><img src="../img/taxi.png" alt="Taxi" /></div>
        <div class="box-content-title">
          Transportation
        </div>
        <div class="box-content-item secondary-font travel-screen_type">
          TAXI
        </div>
        <div class="box-content-item">
          Taxi is the best way to get to/from the airport.
          <br /><br />
          Within the city walking, taxi, and ride share (e.g. Uber) are all good options.
        </div><a href="#" class="box-content-button button">View</a>
      </div>
    </div>

    <div class="box-header">
      <p>You can stay anywhere in Puerto Vallarta, but here are some hotels we recommend</p>
    </div>
    <div class="box-sections">
      <div class="box-section">
        <div class="box-content-icon"><img src="../icon/hotel.png" alt="Taxi" /></div>
        <div class="box-content-title">
          TBD
        </div>
        <div class="box-content-item secondary-font travel-screen_type">
          HOTEL
        </div>
        <div class="box-content-item">
          TBD
        </div><a href="#" class="box-content-button button">View</a>
      </div>
    </div>
  </div>
</div>
