<div class="travel-screen box-screen screen">
  <div class="box">


    <div class="box-header">
      <div class="box-title">
        Travel
      </div>
    </div>
    <div class="box-sections">
      <div class="box-section">
        <div class="box-content-icon"><img src="../icon/airplane.png" alt="airplane" /></div>
        <div class="box-content-title">
          Puerto Vallarta International Airport (PVR)
        </div>
        <div class="box-content-item secondary-font travel-screen_type">
          FLIGHT
        </div>
        <div class="box-content-item">
          The city's airport is named Licenciado Gustavo Díaz Ordaz International Airport (PVR). This is the best way to visit Puerto Vallarta.
        </div>
        <a href="https://www.google.com/maps/place/Licenciado+Gustavo+D%C3%ADaz+Ordaz+International+Airport/@20.6621904,-105.2753222,13z/data=!4m15!1m8!3m7!1s0x842145dadea3360d:0x98f5837a45fe96c!2sLicenciado+Gustavo+D%C3%ADaz+Ordaz+International+Airport!8m2!3d20.6805184!4d-105.2523762!10e1!16zL20vMDZxc3Jr!3m5!1s0x842145dadea3360d:0x98f5837a45fe96c!8m2!3d20.6805184!4d-105.2523762!16zL20vMDZxc3Jr?hl=en" target="_blank" class="box-content-button button">View</a>
      </div>
      <div class="box-section">
        <div class="box-content-icon"><img src="../img/taxi.png" alt="Taxi" /></div>
        <div class="box-content-title">
          Transportation
        </div>
        <div class="box-content-item secondary-font travel-screen_type">
          TAXI
        </div>
        <div class="box-content-item">
          Taxi is the best way to get to/from the airport.
          <br /><br />
          Within the city walking, taxi, and ride share (e.g. Uber) are all good options.
        </div>
      </div>
    </div>

    <div class="box-header">
      <p>
        There are a variety of accommodation options in the surrounding area including hotels, resorts and AirBnBs. Please find some of our recommendations below but feel free to chose what fits best for you.
      </p>
    </div>
    <div class="box-sections">


      <div class="box-section">
        <div class="box-content-icon">
          <img src="../icon/hotel.png" alt="Hotel" />
        </div>
        <div class="box-content-title">
          Hotel Posada Roger
        </div>
        <div class="box-content-item secondary-font travel-screen_type">
          HOTEL
        </div>
        <div class="box-content-item">
          Small 3 start hotel / not fancy but comfortable / great restaurant beside the hotel / Central location
          <br />($)
        </div>
        <a href="https://hotelposadaderoger.com/?_ga=2.149668478.936995207.1682255788-2015801894.1682255788" target="_blank" class="box-content-button button">View</a>
      </div>

      <div class="box-section">
        <div class="box-content-icon">
          <img src="../icon/hotel.png" alt="Hotel" />
        </div>
        <div class="box-content-title">
          Casa Nicole Boutique Hotel
        </div>
        <div class="box-content-item secondary-font travel-screen_type">
          HOTEL
        </div>
        <div class="box-content-item">
          <br />($$)
        </div>
        <a href="https://hotelcasanicole.com/" target="_blank" class="box-content-button button">View</a>
      </div>

      <div class="box-section">
        <div class="box-content-icon">
          <img src="../icon/hotel.png" alt="Hotel" />
        </div>
        <div class="box-content-title">
          Playa Los Arcos Hotel Beach Resort & Spa Puerto Vallarta
        </div>
        <div class="box-content-item secondary-font travel-screen_type">
          HOTEL
        </div>
        <div class="box-content-item">
          All inclusive options available.
          <br />($$)
        </div>
        <a href="https://www.playalosarcos.com/" target="_blank" class="box-content-button button">View</a>
      </div>

      <div class="box-section">
        <div class="box-content-icon">
          <img src="../icon/hotel.png" alt="Hotel" />
        </div>
        <div class="box-content-title">
          Sheraton Buganvilias Resort & Convention Center
        </div>
        <div class="box-content-item secondary-font travel-screen_type">
          HOTEL
        </div>
        <div class="box-content-item">
          All inclusive options available.
          <br />($$$)
        </div>
        <a href="https://www.guestreservations.com/sheraton-buganvilias-resort-convention-center-puerto-vallarta/booking?msclkid=9b860559858f1883090a6111da62be69" target="_blank" class="box-content-button button">View</a>
      </div>

      <div class="box-section">
        <div class="box-content-icon">
          <img src="../icon/hotel.png" alt="Hotel" />
        </div>
        <div class="box-content-title">
          San Marino - Near Olas Altas Street
        </div>
        <div class="box-content-item secondary-font travel-screen_type">
          HOTEL
        </div>
        <div class="box-content-item">
          <br />($$)
        </div>
        <a href="https://www.hotelsanmarino.com/en/" target="_blank" class="box-content-button button">View</a>
      </div>

    </div>
  </div>
</div>
