<div class="travel-screen box-screen screen">
    <div class="box">
        <div class="box-header">
            <div class="box-title">Travel</div>
            <p>
                Your flight & hotel will be <strong>booked separately</strong>.
            </p>
            <p>
                The airport is Puerto Vallarta International Airport (PVR)
            </p>
        </div>
        <div class="box-sections">
            <div class="box-section">
                <div class="box-content-icon">
                    <img src="../img/taxi.png" alt="Taxi" />
                </div>
                <div class="box-content-title">Venice Marco Polo (VCE)</div>
                <div class="box-content-item secondary-font travel-screen_type">FLIGHT</div>
                <div class="box-content-item">
                    VCE is a larger airport than VRN so you may find cheaper/direct flights.
                    However, the airport is 1.5 hrs from Verona by train.
                </div>
                <a href="#" class="box-content-button button">View</a>
            </div>
            <div class="box-section">
                <div class="box-content-icon">
                    <img src="../img/taxi.png" alt="Taxi" />
                </div>
                <div class="box-content-title">Venice Marco Polo (VCE)</div>
                <div class="box-content-item secondary-font travel-screen_type">FLIGHT</div>
                <div class="box-content-item">
                    VCE is a larger airport than VRN so you may find cheaper/direct flights.
                    However, the airport is 1.5 hrs from Verona by train.
                </div>
                <a href="#" class="box-content-button button">View</a>
            </div>
            <div class="box-section">
                <div class="box-content-icon">
                    <img src="../img/taxi.png" alt="Taxi" />
                </div>
                <div class="box-content-title">Venice Marco Polo (VCE)</div>
                <div class="box-content-item secondary-font travel-screen_type">FLIGHT</div>
                <div class="box-content-item">
                    VCE is a larger airport than VRN so you may find cheaper/direct flights.
                    However, the airport is 1.5 hrs from Verona by train.
                </div>
                <a href="#" class="box-content-button button">View</a>
            </div>
        </div>
    </div>
</div>
